<ion-header [translucent]="true">
    <ion-toolbar color="perpul">
        <ion-title color="light">
  </ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-label class="text-center">
        <h1><b>กรอกข้อมูลนักเรียน ปวช.2/3</b></h1>
    </ion-label>
  
    <ion-item>
        <ion-label position="floating">รหัสนักเรียน</ion-label>
        <ion-input type="text" [(ngModel)]="txtstu_id"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label position="floating">ชื่อ-สกุล</ion-label>
        <ion-input type="text" [(ngModel)]="txtname"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label position="floating">ชื่อเล่น</ion-label>
        <ion-input type="text" [(ngModel)]="txtnname"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label position="floating">อายุ</ion-label>
        <ion-input type="text" [(ngModel)]="txtage"></ion-input>
    </ion-item>
  <ion-item>
        <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
        <ion-input type="text" [(ngModel)]="txtphone"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label position="floating">ที่อยู่</ion-label>
        <ion-input type="text" [(ngModel)]="txtaddress"></ion-input>
    </ion-item>
  
    <ion-list>
        <ion-item>
            <ion-label>สถานภาพ</ion-label>
            <ion-select aria-label="Fruit" interface="popover" slot="end" placeholder="สถานภาพ" [(ngModel)]="txtstatus">
                <ion-select-option value="โสด">โสด</ion-select-option>
                <ion-select-option value="สมรส">สมรส</ion-select-option>
                <ion-select-option value="หย่าร้าง">หย่าร้าง</ion-select-option>
                <ion-select-option value="มีแฟน">มีแฟน</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
  
    <div class="text-center mt-4">
        <ion-button (click)="addmember()">บันทึกข้อมูล</ion-button>
        <ion-button color="warning" (click)="show()">แสดงข้อมูล</ion-button>
    </div>
  </ion-content>